html {
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --v-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.center-it {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    display: inline-block;
}
.center-it-2 {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: inline-block;
}

.card-container {
    width: calc(375px - 50px);
}
.card {
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    height: 435px;
    padding: 2.75rem 2.75em;
    line-height: 1;
    background-color: var(--primary);
    &.--dark-cyan {
        --primary: var(--dark-cyan);
    }
    &.--orange {
        --primary: var(--orange);
    }
    &.--dark {
        --primary: var(--v-dark-cyan);
    }
    &-head {
        flex: 1 0 auto;
    }
    &-body {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
    }
    &-title {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    &-text {
        line-height: 1.7;
        font-size: .95rem;
        color: var(--transparent-white);
        margin: auto 0;
    }
    &-footer {
        flex: 1 0 25%;
    }
    &-cta {
        color: var(--dark-cyan);
        color: var(--primary);
        background: white;
        border-radius: 2em;
        padding: 1em 2em;
    }
}