html {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);
    --light-gray-blue: hsl(240, 5%, 91%);
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--soft-violet);
}

.card {
    width: 325px;
    min-height: 500px;
    background: var(--light-gray-blue);
    background-color: white;
    margin: 0 auto;
    position: relative;
    &-img {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        padding: 0 12.5%;
        &::after {
            
        }
    }
    &-title {

    }
    &-section {

    }
    &-header {

    }
    &-text {

    }
}